{
  "presets": [
    ["env", { "modules": false }],
    "stage-3",
    "react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "transform-class-properties",
    "external-helpers"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-3",
        "react",
        "@emotion/babel-preset-css-prop"
      ]
    }
  }
}